#wapperbox{
	background-color: #F3F3F3;
	height: 100%;
}
.header{
	margin:0;
	padding: 5px;
	background-color: #2DC3E8;
	position: relative;
}
.header .title h2{
	color: #b4eaf7;
}

.header a{
	color: white;
}
.header .status {
	display: flex;
	align-items: center;
	padding: 2px;
}
.header .status ul{
	display: flex;
	align-items: center;
	text-align: right;
}
.header .status ul li{
	padding: 5px;
	
}

/*admin_option*/
#admin_option #side_bar_admin{
	background-color: white;
	box-shadow: 1px 1px 1px #E2E2E2;
	height: 100%;
}


#side_bar_admin .action{
	padding-left: 5px;
	font-size: 20px;
	height: 40px;
	line-height: 35px;
	border-left: 4px solid #D6D6D6;
	border-bottom: 1px solid #F3F3F3;
}
#side_bar_admin .selector:hover{
	border-left-color: #B4EAE5;
}
#side_bar_admin .selector:active{
	border-left-color: #29B0D1;
	background-color: #F3F3F3
}
#side_bar_admin .selector:active a{
	color: black;
}
#side_bar_admin .selector a{
	color: #737373;
}
#side_bar_admin .search {
	border:none;
	height: 30px;
	font-size: 14px;
	width: 90%;
	line-height: 30px;
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

#side_bar_admin .search:focus::-webkit-input-placeholder{
  color: #81ACBC;
  font-size: 11px;
          transform: translateY(-10px);
   visibility: visible !important;
}
#address_bar {
	background-color: white;
	height: 50px;
	margin: 4px;
	box-shadow: 1px 1px 1px #E2E2E2;
}
#address_bar {
	display: flex;
	align-items: center;
}
#address_bar p{
	padding-left: 10px;
	font-size: 19px;
}
.parent{
	color: #29B0D1;

}
